@import url('https://fonts.googleapis.com/css?family=Ewert|Ranchers&display=swap');

body {
    background-color: rgb(117,249,240);
    font-family: 'Ewert', cursive;
font-family: 'Ranchers', cursive;
    color:  rgb(212, 57, 38);
    font-weight: bold;
   font-size: 1.5rem;
}
.card {
    /* max-width:50%; */
    /* height:50%; */
}

/* #userPlayerDiv {
    background-color: rgb(117,249,240,0.800);
} */

#userPlayerDiv img {
    width: 60% !important;
    height: auto !important; 
}

#compPlayerRemainderDiv img {
    background-color: rgb(117,249,240,0.800);
}
/* #compPlayerRemainderDiv {
    background-color: rgb(117,249,240,0.800);
} */
/* reset-#compPlayerRemainderDiv img {
    background-color : 0 !important;
    border-style : none;
} */

#compPlayerDiv img {
    background-color: rgb(117,249,240,0.800);
    width: 60% !important;
    height: auto !important; 
}

#messageDescription {
    color: rgb(204, 152, 55);
}
/* #userPlayerDiv img {
    image-resolution: 50% !important;
} */

/* .img-thumbnail {
    max-width: 150% !important;
} */

/* .card-img-top {
    max-width: 150% !important;
} */